name: Deploy DNS configuration

on:
  pull_request:
    branches:
      - main
    paths:
      - gen.py
  push:
    branches:
      - main
    paths:
      - gen.py
  workflow_dispatch:
    inputs:
      dry_run:
        default: true
        description: Perform a dry run, do not actually change any DNS records
        type: boolean

jobs:
  deploy:
    name: Deploy DNS configuration
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v5

      - name: Install uv
        run: sh ci/install-uv.sh

      - name: Generate DNS configuration
        run: sh ci/gen-config.sh

      - name: Dry run deploy
        if: "github.event_name == 'pull_request' || (github.event_name == 'workflow_dispatch' && inputs.dry_run)"
        run: sh ci/dry-run.sh
        env:
          CLOUDFLARE_TOKEN: "${{ secrets.cloudflare_token }}"

      - name: Live deploy
        if: "github.event_name == 'push' || (github.event_name == 'workflow_dispatch' && ! inputs.dry_run)"
        run: sh ci/deploy-dns.sh
        env:
          CLOUDFLARE_TOKEN: "${{ secrets.cloudflare_token }}"
